<div class="container px-5 my-5 px-sm-0">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">
      <h3>スポット一覧</h3>
      <div id="all_map", style="height: 320px; width: 400px;"></div>
      <table class="table">
        <% @spots.each do |spot| %>
          <tr>
            <td><%= link_to spot.address, spot_path(spot) %></td>
            <td>
              <span id="rate_<%= spot.id %>"></span>
              <%= render "reviews/rate_avg", spot: spot, reviews: spot.reviews %>
              <span><%= spot.reviews.average(:rate).to_f.round(1) %></span>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>