<div class="container px-5 my-5 px-sm-0">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">
      <h3><%= @spot.address %>の詳細情報</h3>
      <div id="show_map", style="height: 320px; width: 400px;"></div>
      <h5>レビュー</h5>
      <% @reviews.each do |review| %>
        <%= review.body %>
      <% end %>
    </div>
  </div>
</div>