<div class="container px-5 my-5 px-sm-0">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">
      <h3>フォロワー</h3>
      <% if @users.exists? %>
        <%= render "/users/index", users: @users %>
      <% else %>
        <p class="text-center">該当のユーザはいません</p>
      <% end %>
    </div>
  </div>
</div>