<div class="container mb-5">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">
      <%= link_to " 戻る", users_path, class: "fas fa-chevron-left my-4" %>
      <h3><strong><%= @user.name %></strong>さんのフォロワー</h3>
      <% if @users.exists? %>
        <%= render "/users/index", users: @users %>
      <% else %>
        <p class="text-center">該当のユーザはいません</p>
      <% end %>
    </div>
  </div>
</div>