<div class="text-right my-3">
  <span class="small"><%= l chat.created_at, format: :short %></span>
  <span class="current_user_says"><%= chat.message %></span>
  <%= attachment_image_tag current_user, :profile_image, fallback: "cheer.jpeg", size: "50x50", class: "rounded-circle" %>
</div>