<div id="container">
  <div id="top">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
</div>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 offset-md-2 text-center">
      <h3>健康のためにつぶやきませんか？</h3>
      <p>Cheers!を使うとこんなことができます</p>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-md-5">
      操作画面
    </div>
    <div class="col-md-5">
      <h4><u>地図情報を含んだ投稿ができる</u></h4>
      <p>走った場所や食事をした場所などを投稿し、その場所についてのレビューを集めて情報収集に役立てることができます。</p>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-md-5">
      <h4><u>投稿するとカレンダーに表示される</u></h4>
      <p>
        投稿した内容のカテゴリーによってカレンダーにアイコンが表示されるので、モチベーションアップに繋がります。<br>
        また、他のユーザのカレンダーを見て食事内容や運動量を参考にすることもできます。
      </p>
    </div>
    <div class="col-md-5">
      操作画面
    </div>
  </div>
</div>