// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 #container {
  height: 500px;
}

 .image1 {
  background-image: url(running.jpg);
 }

  .image2 {
  background-image: url(running.jpg);
 }

  .image3 {
  background-image: url(running.jpg);
 }

  .image4 {
  background-image: url(running.jpg);
 }

  .image5 {
  background-image: url(running.jpg);
 }

/* 左吹き出しの文章 */
.left-says {
  display: inline-block;
  position: relative;
  margin: 20px 0 0 10px;
  padding: 10px 15px;
  border-radius: 12px;
  background: #ffedab;
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15px;
    left: -30px;
    border: 10px solid transparent;
    border-right: 30px solid #ffedab;
  }
}

/* 右吹き出しの文章 */
.right_says {
  display: inline-block;
  position: relative;
  margin: 20px 10px 0 0;
  padding: 10px 15px;
  border-radius: 12px;
  background: #ddd;
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15px;
    right: -30px;
    border: 10px solid transparent;
    border-left: 30px solid #ddd;
  }
}