// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 #container {
  height: 500px;
}

 .image1 {
  background-image: url(top/running.jpg);
 }

  .image2 {
  background-image: url(top/salad.jpg);
 }

  .image3 {
  background-image: url(top/yoga.jpg);
 }

  .image4 {
  background-image: url(top/bowl.jpg);
 }

  .image5 {
  background-image: url(top/gym.jpg);
 }

/* 左吹き出しの文章 */
.left-says {
  display: inline-block;
  position: relative;
  margin: 20px 0 0 10px;
  padding: 10px 15px;
  border-radius: 12px;
  background: #ffedab;
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15px;
    left: -30px;
    border: 10px solid transparent;
    border-right: 30px solid #ffedab;
  }
}

/* 右吹き出しの文章 */
.right_says {
  display: inline-block;
  position: relative;
  margin: 20px 10px 0 0;
  padding: 10px 15px;
  border-radius: 12px;
  background: #ddd;
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15px;
    right: -30px;
    border: 10px solid transparent;
    border-left: 30px solid #ddd;
  }
}

/* 文字横の線 */
.side-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  &.side-line:before {
    border-top: 1px solid;
    content: "";
    width: 9em;
    margin-right: 1em;
  }
  &.side-line:after {
    border-top: 1px solid;
    content: "";
    width: 9em;
    margin-left: 1em;
  }
}

/* ヘッドメッセージ */
.head-message {
  display: inline-block;
  background:linear-gradient(transparent 70%, #ffedab 0%);
}

/* Cheers!でできること */
.example {
  justify-content: center;
  background: #ddd;
  text-align: center;
  margin-top: 20px;
  border-radius: 12px;
  .example-title {
    @extend .head-message;
    margin: 0 auto;
  }
  .example-body {
    margin-top: 30px;
    line-height: 30px
  }
}