// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post_index {
    background-color: #fff;
    transition: background-color .1s;
    &:hover {
        background-color: #eee;
    }
}

