// Place all the styles related to the spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#all_map {
  height: 400px;
  width: 100%;
  margin: 30px auto;
}

#show_map {
  @extend #all_map
}